main.aux
main.fdb_latexmk
main.fls
main.nav
main.log
main.pdf
main.out
main.snm
main.synctex.gz
main.toc
schemes/KMK/kmk.aux
schemes/KMK/kmk.fdb_latexmk
schemes/KMK/kmk.fls
schemes/KMK/kmk.log
img/filament/react1.xcf
img/filament/filament_ex/v1.xcf
schemes/KMK/kmk.pdf
schemes/KMK/kmk.synctex.gz
schemes/model/model.aux
schemes/model/model.fdb_latexmk
schemes/model/model.fls
schemes/model/model.log
schemes/model/model.pdf
schemes/model/model.synctex.gz
schemes/reacts/R1 copy.pdf
schemes/reacts/R1 copy.synctex.gz
schemes/reacts/R1.aux
schemes/reacts/R1.fdb_latexmk
schemes/reacts/R1.fls
schemes/reacts/R1.log
schemes/reacts/R1.pdf
schemes/reacts/R1.synctex.gz
schemes/reacts/R2 copy.pdf
schemes/reacts/R2 copy.synctex.gz
schemes/reacts/R2.aux
schemes/reacts/R2.fdb_latexmk
schemes/reacts/R2.fls
schemes/reacts/R2.log
schemes/reacts/R2.pdf
schemes/reacts/R2.synctex.gz
schemes/reacts/R3.aux
schemes/reacts/R3.fdb_latexmk
schemes/reacts/R3.fls
schemes/reacts/R3.log
schemes/reacts/R3.pdf
schemes/reacts/R3.synctex.gz
schemes/reacts/R4.aux
schemes/reacts/R4.fdb_latexmk
schemes/reacts/R4.fls
schemes/reacts/R4.log
schemes/reacts/R4.pdf
schemes/reacts/R4.synctex.gz
schemes/reacts/struct.pdf
schemes/reacts/struct.synctex.gz
schemes/reacts/types.aux
schemes/reacts/types.fdb_latexmk
schemes/reacts/types.fls
schemes/reacts/types.log
schemes/reacts/types.pdf
schemes/reacts/types.synctex.gz
schemes/simulator/simulator.aux
schemes/simulator/simulator.fdb_latexmk
schemes/simulator/simulator.fls
schemes/simulator/simulator.log
schemes/simulator/simulator.pdf
schemes/simulator/simulator.synctex.gz
img/mc_hafnium.pdf
img/POSCAR.pdf
